// Tablas 

.productos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 0px 18px 0px;
    border: 1px solid ;
    background: #748cb9;
    border-radius: 12px 12px;  
}

.lista{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 0px 18px 0px;
    border: 1px solid ;
    background: #3d75df;
    border-radius: 12px 12px;

}

.btnAgregar{
    background-color: rgb(223, 221, 221);
    color: #070707;
    padding: 3px 9px;
    border-radius: 18px 18px;

    &:hover{
        background-color: #0b0b0b;
        color: #fff;
        transition:  .9s;
    }
    
}



.nombres th{
    font-size: 22px;
    padding: 12px 20px;
    font-weight: 700;
    letter-spacing: 1px;
}


table{
    text-align: center;
    color: #ffffff;
    width: 100%;
    table-layout: fixed;
}

td{
    padding: 12px 0px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    table-layout: fixed;
}


.numero{
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

// Filtros 

.filtros{
    display: flex;
    justify-content: space-between;
    margin: 27px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.filtros p{
    font-weight: 800;
}

.filtro{
    display: flex;
    justify-content: center;           
    background-color:rgb(238, 67, 67);;
    border: none;
    padding: 8px 4px;
    border-radius: 12px;
    width: 120px;
    cursor: pointer;
    transition: background-color 0.6s, opacity 0.6s;
}

.filtro:hover{
    background-color: rgba(226, 21, 21, 0.7); /* Cambiar el color y opacidad al hacer hover */
    opacity: 0.9;
}


.filtro p{
    font-size: 18px;
    letter-spacing: 2px;
    color: #fffefe;
}


.contenido{
        display: none;
        border-radius: 20px 20px;
        background-color:rgb(248, 247, 247);
        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        z-index: 999;   
        margin: 28px 14px;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.60); 
}

.contenido ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin: 8px 0px;
        color: #070707;
}

.contenido li {
    color: #070707;
    font-size: 14px;
    margin:12px 0px;
}

.cerrar{
    display: flex;
    justify-content: space-around;
    padding: 12px 2px;
}

.cerrar i{
    font-size: 18px;
}

.cerrar p{
    color: rgba(9, 209, 209, 0.932);
    font-weight: 700;
}

.contenido.show {
    display: block;
    left:0;
}



// Meses gastos

.filtros2{
    display: flex;
    justify-content: space-evenly;
    margin: 22px 0px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    cursor: pointer;

    .meses{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:12px 0px;
    
        p{
            background-color: #c1c3c5;
            color: #000000;
            padding: 2px 12px;
            line-height: 1.8rem;
            border-radius: 8px;
            margin-right: 12px;

            &:hover{
                transition: .7s;
                background-color: #aca2a2;
                color: #fff;
            }
        }
    }
    
}



// Anotaciones

.anotaciones{
    p:hover{
        color: #00AAFF;
        transition: .3s;
    }
}

.contenido2{
    display: none;
    border-radius: 20px 20px;
    background-color:rgb(248, 247, 247);
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 280px;
    z-index: 999;   
    margin: 28px 14px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.60); 
    ul{
        list-style-type: none;
        padding: 8px 0px;
        margin: 12px 0px;
        color: #070707;
    }
    p {
        color: #070707;
        font-size: 14px;
        margin:12px 0px;
        }
        
}

.contenido2.show {
    display: block;
    right:0;
}




.close{
    display: flex;
    padding: 12px 2px;
}

.close i{
    font-size: 18px;
    color: rgb(235, 10, 10);
}

.close p{
    color: rgba(9, 209, 209, 0.932);
    font-weight: 700;
}


@media only screen and (max-width:750px){
    .nombres{
        th{
            padding: 9px;
        }

        .pro{
            font-size: 18px;
            padding: 6px;
        }
        
        .id{
            display: none;
        }
    

    }


    tr{
        .id{
            display:none;
        }

        td{
            padding: 9px;
        }
    }

    .btnAgregar{
        padding: 2px 7px;
    }

    .filtros2{
        display: none;
    }

}