
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;&family=Oswald&family=Secular+One&display=swap');
@import '_calculadora';
@import'_convertidor.scss';
@import'_table.scss';
@import'_carrito.scss';
@import'_header.scss';

    *{
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    


body{
    height: 100vh;
    width: 100%;
    scroll-behavior:smooth;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

a{
    text-decoration: none;
    
}
ul{
    list-style: none;
    
}


// Volver

/* Estilo para el botón de volver arriba */
.btn-volver-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffe600;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s;
}

.btn-volver-arriba:hover {
    opacity: 0.8;
}

.fa-arrow-rotate-left {
    margin-right: 5px;
}

    #recordatorio {
        position: fixed;
        bottom: 10px;
        left: 10px;
        background-color: #ffcc00; 
        padding: 10px;
        border-radius: 5px;
        display: none;
        box-shadow: #0b0b0b;
    }
    
    #recordatorio li{
        margin: 0;
        padding: 4px 0px;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        color: #1d1d1d;
    }

